
<!-- default_head.html -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/assets/style/ucam2012/full-stylesheet.css">
  <link rel="stylesheet" href="/assets/style/ucam2012/extensions.css">

  <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">  document.documentElement.className += " js";</script>
<link href="people/" rel="Next">
<link href="../" rel="Up">

    <link rel="stylesheet" type="text/css" href="/assets/style/css/main.css" />
    
{% if page.css %}
    <!-- From page frontspiece css variable (optional) e.g.
        ---
        css: people
        ---
    -->
    <link rel="stylesheet" type="text/css" href="assets/css/{{ page.css }}.css" />
{% endif %}
<!-- end default_head.html -->
