
.home_main_image {
    display: block;
    max-width: 80%;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

ul.stanzas {list-style-type: none; clear:both;height:100%;}
li.stanza {clear:both;overflow:auto;border-bottom:1px solid #f3bd48;padding-bottom:2ex;margin-bottom:2ex;}
li.stanza .logo {float:left;padding-right:1em;text-align:center;height:100%;}
li.stanza .logo img {border:0; padding:1ex 1em;width:200px;}
li.stanza .title {font-weight:bold;}
li.stanza .dates,
li.stanza .contact {float:right;padding:0.5ex 0.5em;margin:0.5ex 0.5em;}
li.stanza .dates {background-color:#c44101;color:white;font-weight:bold;clear:right;}
ul.stanzas li.stanza .dates:before {content: "Started: ";font-weight:normal;}
li.stanza .contact {background-color:#f3bd48;font-weight:bold;}
li.stanza .contact:before {content: "Contact: ";font-weight:normal;}

img.page_medium_left { float: left; width: auto; height: auto; max-height: 200px }

h1 { clear: both; }

h2 { clear:both; }
