/* CSS style for the 'people/members' page */

.person_name {
    color: #c44101;
    font-size: 18px;
}

.person_image {
    padding: 4px;
}

.person_image img {
    height: 100px;
}

.person_content {
    font-size: 14px;
}
